BODY {
 background-color:#7777FF;
 font-family:sans-serif;
 font-size:10pt;
}

/* ------------------------------------------------------------------------ */
/*                              Character Classes                           */
/* ------------------------------------------------------------------------ */
CODE {
 font-family:monospace;
 font-size: 8pt; 
 color:#660033;
}
.ObjectName {
 font-style:italic;
 font-size:115%;
}
.small {
 font-family:serif;
 font-size:10px;
}
.code {
  font-family: monospace; 
  font-size: 8pt; 
  background-color: #FFEEAA;
  border:  1px solid #000000;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 4px;
  color: #660033;
}

/* ------------------------------------------------------------------------ */
/*                           Headers and Paragraphs                         */
/* ------------------------------------------------------------------------ */
P {
 text-align:justified;
 font-family:sans-serif;
}
H2 {
 text-align:center;
 color:red;
 background-color:#EEEEEE
}
H3 { text-align:center; }

/* ------------------------------------------------------------------------ */
/*                          Tables and Table Classes                        */
/* ------------------------------------------------------------------------ */
TABLE {
 background-color:#FFFFFF;
}

/* -------------------------------------------------------[ Table Rows ]--- */
tr.alert {
 background-color:#ff5555;
}
tr.warn {
 background-color:Yellow;
}

/* ----------------------------------------------------[ Table Headers ]--- */
TH {
 text-align:center;
 background-color:#FFD000;
}
.th_sub  {
 text-align:center;
 font-size:90%;
 font-style:italic;
 background-color:#FFEEAA;
}
.th_sub2 {
 text-align:center;
 font-size:90%;
 font-style:italic;
 background-color:lemonchiffon;
}

/* ------------------------------------------------------[ Table Cells ]--- */
TD { font-size:80%; }
TD.small { font-size:70%; }
TD.smallname {
 font-size:70%;
 font-weight:bold;
 background-color:#f0f0f0;
 border:1px solid #000000;
}
TD.text {
 text-align:justify;
}
td.alert {
 background-color:#ff5555;
 font-weight:bold
}
td.warn {
 background-color:Yellow;
}
.td_name {
 font-weight:bold;
 background-color:#f0f0f0
}

/* ------------------------------------------------------------------------ */
/*                                Miscellaneous                             */
/* ------------------------------------------------------------------------ */
UL {
 margin-top:2;
 margin-bottom:2;
}

