BODY {
 background-color:#ffffff;
 font-family:sans-serif;
 font-size:10pt;
}

/* ------------------------------------------------------------------------ */
/*                              Character Classes                           */
/* ------------------------------------------------------------------------ */
CODE {
 font-family:monospace;
 font-size: 8pt; 
 color:#660033;
}
.ObjectName {
 font-style:italic;
 font-size:115%;
}
.small, span.small {
 font-family: sans-serif;
 font-size:10px;
}
.code {
  font-family: monospace; 
  font-size: 8pt; 
  background-color: #FFEEAA;
  border:  1px solid #000000;
  margin-bottom: 6px;
  margin-top: 6px;
  padding: 4px;
  color: #660033;
}

/* ------------------------------------------------------------------------ */
/*                           Headers and Paragraphs                         */
/* ------------------------------------------------------------------------ */
P {
 text-align: justify;
 font-family: sans-serif;
}
H2 {
 text-align:center;
 color:#0080c0;
 background-color:#F6F6EB;
 border: 1px ridge #0080c0;
}
H3 { text-align:center; }

/* ------------------------------------------------------------------------ */
/*                          Tables and Table Classes                        */
/* ------------------------------------------------------------------------ */
TABLE {
 background-color:#ffffea;
 border: 1px ridge #0080c0;
}

/* -------------------------------------------------------[ Table Rows ]--- */
tr.alert {
 background-color:#ff9977;
}
tr.warn {
 background-color:#ffff88;
}

/* ----------------------------------------------------[ Table Headers ]--- */
TH {
 text-align:center;
 background-color:#0080c0;
 color:#fdfdfd;
}
.th_sub  {
 text-align:center;
 font-size:90%;
 font-style:italic;
 background-color:#9cc5d3;
 color:#000000;
}
.th_sub2 {
 text-align:center;
 font-size:90%;
 font-style:italic;
 background-color:#ecebfe;
 color:#000000;
}

/* ------------------------------------------------------[ Table Cells ]--- */
TD { font-size:80%; }
TD.small { font-size:70%; }
TD.smallname {
 font-size:70%;
 font-weight:bold;
 background-color:#F6F6EB;
 border:1px solid #000000;
}
TD.text {
 text-align:justify;
}
.td_name {
 font-weight:bold;
 background-color:#F6F6EB;
}
td.alert {
 background-color:#ff9977;
 font-weight:bold
}
td.warn {
 background-color:#ffff88;
}
td.inner {
 background-color:#faffff;
}

/* ------------------------------------------------------------------------ */
/*                                Miscellaneous                             */
/* ------------------------------------------------------------------------ */
UL {
 margin-top:2px;
 margin-bottom:2px;
}
